h1 {
    text-align: center;
    cursor: pointer
}

.app {
    padding: 10px
}

button {
    margin: 10px;
    cursor: pointer;
}

li {
  cursor: pointer
}

body {
    background: center fixed;
    background-image: url('8BB.png');
    background-size: cover;
}

.is-rounded {
    background-color: #ffffff;
}
